[Unit]
Description=sadm-listen
After=syslog.target
Requires=atd.service

[Service]
Type=notify
NotifyAccess=all
Restart=on-failure
KillSignal=SIGQUIT
StandardError=syslog
PrivateTmp=true
EnvironmentFile=/etc/opt/sadm/uwsgi/environ
EnvironmentFile=-/etc/default/sadm-listen
ExecStart=/usr/bin/uwsgi --need-plugin python3 \
	--set-ph sadm-home=${SADM_HOME} \
	--set-ph sadm-uid=${SADM_UID} \
	--set-ph sadm-gid=${SADM_GID} \
	--set-ph netloc=${SADM_LISTEN} \
	--set-ph sslcrt=${SADM_LISTEN_SSLCRT} \
	--set-ph sslkey=${SADM_LISTEN_SSLKEY} \
	--ini /etc/opt/sadm/uwsgi/config.ini

[Install]
WantedBy=multi-user.target
